<div class="contact-wrapper">
  <h2>צור קשר</h2>

  <p class="subtitle">
    לקבלת טפסי רישום השאר/י כתובת מייל
 </p>

  <form (ngSubmit)="sendMail()" novalidate>
    <input
      type="email"
      name="email"
      [(ngModel)]="email"
      placeholder="כתובת מייל"
      required
    />

    <button type="submit" [disabled]="loading">
      {{ loading ? 'שולח' : 'שליחה' }}
    </button>
  </form>

  <p class="message success" *ngIf="message && !isError">
    {{ message }}
  </p>

  <p class="message error" *ngIf="message && isError">
    {{ message }}
  </p>
</div>
