.hero {
  position: relative;
}

.nav-bar {
  position: absolute;        /* יושב על התמונה */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 1rem;
  background: transparent;
  box-sizing: border-box;
  overflow-x: hidden;
}

.logo {

  display: flex;
  align-items: center;
}

.nav-logo {
  height: 70px;
  cursor: pointer;
  filter: drop-shadow(0 3px 6px rgba(0,0,0,0.6));
  margin-left: 22%;
}

.menu-toggle {
  position: absolute;
  left: 3rem;
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 1000;
}

.bar {
  width: 28px;
  height: 3px;
  background: white;
  margin: 4px 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  flex-wrap: nowrap;
}

.nav-links li a {
  text-decoration: none;
  font-size: clamp(30px, 1.6vw, 28px);
  font-weight: 700;
  position: relative;

  background: linear-gradient(90deg, #ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 0.25s ease;
}

.nav-links li a:hover {
  background: linear-gradient(90deg, #ff6f61, #fdd835, #4caf50, #2196f3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.08);
}

.nav-links li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 3px;
  background: linear-gradient(90deg, #ff6f61, #fdd835, #4caf50, #2196f3);
  transition: width 0.3s ease;
}


.nav-links li a:hover::after {
  width: 100%;
}

.hero-image {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

  clip-path: polygon(
    0 0, 100% 0, 100% 80%,
    90% 85%, 80% 80%, 70% 85%,
    60% 80%, 50% 85%, 40% 80%,
    30% 85%, 20% 80%, 10% 85%, 0 80%
  );
}

@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    flex-direction: column;
    gap: 1.5rem;
    background: rgba(0, 0, 0, 0.85);
    padding: 1.5rem 0;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li a {
    font-size: 20px;
  }


}
