<div class="hero">
  <nav class="nav-bar">
    <div class="menu-toggle" [class.active]="menuActive" (click)="toggleMenu()" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>

    <ul class="nav-links" [class.active]="menuActive">
      <li><a routerLink="/contact" (click)="closeMenu()">יצירת קשר</a></li>
      <li><a routerLink="/about" (click)="closeMenu()">אודות</a></li>
      <li><a routerLink="/gallery" (click)="closeMenu()">גלרייה</a></li>
      <li><a routerLink="/experiences" (click)="closeMenu()">חוויות</a></li>
      <li><a routerLink="" (click)="closeMenu()">דף הבית</a></li>
    </ul>

    <div class="logo">
      <img src="/assets/logo.jpg" alt="logo" class="nav-logo" />
    </div>
  </nav>

  <div class="hero-image">
    <img src="assets/mivne.jpg" alt="Header Image">
  </div>
</div>
